img {
  width: 75px;
  height: 75px;
  display: inline-block;
}
.div1 {
  height: 280%;
  width: 100%;
  font-family: 'Satisfy', cursive;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  font-size: 8vw;
  padding-top: 4.6%;
  padding-right: 4.6%;
  padding-bottom: 4.6%;
  padding-left: 4.6%;
  background-color: #9CD6C2;
  background-image: url("images/Untitled design.jpg");
}
.div2 {
  height: 450px;
}
.div3 {
  height: 300px;
  background-color: #9CD6C2;
}
.div2 p {
  float: right;
  width: 55%;
  padding-top: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  border-radius: 50px;
  height: 10%;
  margin-top: 2%;
  margin-right: 4%;
  margin-bottom: 2%;
  margin-left: 2%;
  text-align: justify;
	 font-family: 'Bitter', serif;
}
.div2 img {
  width: 25%;
  height: 28%;
  padding-top: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
  padding-left: 10%;
}
.div2about {
  float: right;
  width: 55%;
  padding-top: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  background-color: #CFCFCF;
  height: 10%;
  margin-top: 2%;
  margin-right: 4%;
  margin-bottom: 2%;
  margin-left: 2%;
  text-align: justify;
}
thesamritans {
  width: 25%;
  height: 50%;
}
.grid {
  width: 90%;
  height: 600px;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(3, 1fr);
  padding: 5%;
  margin: auto;
}
.box {
  padding: 5px;
  background-color: #9BD6C2;
  font-family: 'Bitter', serif;
  font-size: 35px;
  text-align: center;
  display: block;
  padding-top: 5%;
}
.divhome {
  background-color: white;
}
.row {
  display: flex;
  margin: auto;
  width: 100%;
}
.column {
  flex: 7.33%;
  padding: 2px;
  padding-left: 2px;
  width: 100%;
}
.image {
  width: 80%;
  height: 100%;
  display: inline-block;
  background-color: #9BD6C2;
  padding: 6%;
  margin-left: 15%;
}
.footer {
  height: 2px;
  width: 100%;
  bottom: 0px;
}
.navbar-nav.ml-auto .nav-item .nav-link {
  background-color: #CFCFCF;
}
.navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light {
  background-color: #7B7B7B;
}
.nav-link:hover {
  color: hotpink;
}
.image1 {
  flex: 7.33%;
  padding: 2%;
  width: 100%;
}
.sitemap {
  float: right;
  width: 30%;
  padding: 2%;
}
instagamimage {
  width: 553px;
  height: 83px;
}
body div {}
.instgrampage {
  width: 285px;
  height: 550%;
}
.div4 {
  width: 95%;
  padding-top: 4%;
  padding-right: 4%;
  padding-left: 4%;
  height: 10%;
  margin-top: 2%;
  margin-right: 4%;
  margin-bottom: 2%;
  margin-left: 2%;
  text-align: justify;
}
.talktous {
  width: 70%;
  height: 50%;
  margin-left: 19%;
  display: inline-block;
  padding: 2%;
}
h2 {
  color: #000000;
  font-family: 'Satisfy', cursive;
  font-size: 4vw;
  width: 100%;
  padding-left: 43%;
  padding-top: 5%;
  margin: 0px;
  height: 0%;
  float: none;
  line-height: 1px;
  text-align: left;
}
.carousel-inner .carousel-item.active .d-block.mx-auto {
  width: 400px;
  height: 600px;
}
.btn.btn-info {
  background-color: #CFCFD0;
  float: none;
  padding-right: 14px;
  height: 89px;
  width: 135px;
  color: #FFFFFF;
  font-family: 'Archivo', sans-serif;
  font-weight: bold;
  font-size: 19px;
  text-decoration: none;
  -webkit-box-shadow: 3px 3px 30px #9CD6C2;
  box-shadow: 2px 2px 45px #9CD6C2;
  border: none;
}
.button {
  width: 18%;
  background-color: #CFCFCF;
  color: #FFFFFF;
  font-family: 'Bitter', serif;
  font-weight: bold;
  font-size: 23px;
  margin: 3%;
  margin-left: 3.4%;
  padding: 1%;
  border: none;
  height: 60%;
  display: inline-block;
}
.button1 {
  width: 18%;
  background-color: #FFFFFF;
  border-radius: 20px;
  color: #9CD6C2;
  font-family: 'Bitter', serif;
  font-weight: bold;
  font-size: 23px;
  margin: 3%;
  margin-left: 3.4%;
  padding: 1%;
  border: none;
  height: 80%;
  display: inline-block;
}
.div5 {
  padding-top: 1%;
  padding-bottom: 1%;
  height: 200%;
  width: 100%;
  background-color: #9CD6C2;
}
.instagramhandle {
  background-color: #9DD4C1;
  height: 25%;
  width: 35%;
  margin-top: 4%;
  margin-right: 2%;
  margin-bottom: 2%;
  margin-left: 10%;
  float: left;
  border-radius: 25px;
  text-align: center;
  padding: 4%;
}
.email {
  background-color: #9DD4C1;
  height: 25%;
  width: 35%;
  margin-top: 17%;
  margin-right: 2%;
  margin-bottom: 2%;
  margin-left: 10%;
  float: none;
  border-radius: 25px;
  text-align: center;
  padding: 4%;
}
.form {
  background-color: #9DD5C1;
  width: 20%;
  height: 341px;
  margin-left: 700px;
  margin-right: 205px;
  text-align: center;
}
.contact {
  background-image: -webkit-linear-gradient(270deg, rgba(196, 255, 234, 1.00) 27.93%, rgba(255, 255, 255, 1.00) 100%);
  background-image: -moz-linear-gradient(270deg, rgba(196, 255, 234, 1.00) 27.93%, rgba(255, 255, 255, 1.00) 100%);
  background-image: -o-linear-gradient(270deg, rgba(196, 255, 234, 1.00) 27.93%, rgba(255, 255, 255, 1.00) 100%);
  background-image: linear-gradient(180deg, rgba(196, 255, 234, 1.00) 27.93%, rgba(255, 255, 255, 1.00) 100%);
}
fieldset {
  border: 4px solid white;
  padding: 1%;
  margin-bottom: 2%;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
}
textarea {
  border: thin solid hsla(0, 0%, 0%, 1.00);
  width: 98%;
  height: 10rem;
  padding-top: 0.4rem;
  padding-right: 0.4rem;
  padding-bottom: 0.4rem;
  padding-left: 0.4rem;
  font-style: normal;
  font-size: 0.8rem;
  font-family: coda-caption;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
label {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
legend {
  color: hsla(0, 0%, 100%, 1.00);
  font-family: 'Bitter', serif;
  font-size: 30px;
  font-weight: 800;
  text-shadow: 0px 0px;
  background-color: #9CD6C2;
  padding-top: 0.3rem;
  padding-right: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 0.8rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}
select {
  border: thin solid hsla(0, 0%, 0%, 1.00);
  padding-top: 0.4rem;
  padding-right: 0.4rem;
  padding-bottom: 0.4rem;
  padding-left: 0.4rem;
  font-style: normal;
  font-size: 0.8rem;
  height: 2.5rem;
  line-height: 1.2rem;
}
#submit input {
  font-style: normal;
  font-size: 30px;
  color: white;
  font-family: 'Bitter', serif;
  font-weight: 800;
  background-color: #9CD6C2;
  border-radius: 0;
  border-style: none;
  width: 12rem;
  height: 2.4rem;
}
#submit {
  text-align: center;
  margin-bottom: 3rem;
}
.button {
  display: inline-block;
}
.scale-in-center {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.roll-in-left {
  -webkit-animation: roll-in-left 0.6s ease-out both;
  animation: roll-in-left 0.6s ease-out both;
}
.scale-in-hor-center {
  -webkit-animation: scale-in-hor-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-hor-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.text-justify{
	font-family: 'Bitter', serif;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-4-28 19:19:32
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
/**
 * ----------------------------------------
 * animation roll-in-left
 * ----------------------------------------
 */
@-webkit-keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
/**
 * ----------------------------------------
 * animation scale-in-hor-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-hor-center {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
  }
}
@keyframes scale-in-hor-center {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
  }
}
/* Pop */
@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
/* Float */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}
/* Buzz */
@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
.hvr-buzz {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
/* Wobble Horizontal */
@-webkit-keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.hvr-wobble-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-horizontal:hover, .hvr-wobble-horizontal:focus, .hvr-wobble-horizontal:active {
  -webkit-animation-name: hvr-wobble-horizontal;
  animation-name: hvr-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
@media (max-width:600px) {
  .div1 {
    height: 280%;
    font-family: 'Satisfy', cursive;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    font-size: 45px;
    padding-top: 4.6%;
    padding-right: 4.6%;
    padding-bottom: 4.6%;
    padding-left: 4.6%;
    background-color: #9CD6C2;
    background-image: url("images/Untitled design.jpg");
  }
  .div2 {
    height: 1100px;
  }
  h2 {
    color: #000000;
    font-family: 'Satisfy', cursive;
    padding-left: 11%;
    margin-right: 5%;
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 29px;
  }
  .btn.btn-info {
    background-color: #CFCFD0;
    margin-left: 33%;
    padding: 1%;
    height: 89px;
    width: 135px;
    color: #FFFFFF;
    font-family: 'Bitter', serif;
    font-weight: bold;
    font-size: 19px;
    text-decoration: none;
    -webkit-box-shadow: 3px 3px 30px #9CD6C2;
    box-shadow: 2px 2px 45px #9CD6C2;
    border: none;
  }
  .img {
    margin: auto;
    width: 300px;
    height: 300px;
  }
  .div2 p {
    width: 100%;
    padding: 5%;
    border-radius: 50px;
    height: 10%;
    margin: auto;
    text-align: justify;
  }
  .div3 {
    height: 1400px;
    background-color: #9CD6C2;
  }
  .footer {
    height: 5px;
    width: 100%;
    bottom: 0px;
  }
  .sitemap {
    float: right;
    width: 58%;
    font-size: 12px;
  }
  .column {
    padding: 2px;
    padding-left: 2px;
    width: 20%;
  }
  .image {
    width: 300%;
    height: 300%;
    display: block;
    background-color: #9BD6C2;
    padding: 6%;
    margin-left: 100%;
    margin-top: 10%;
  }
  .row {
    display: block;
    width: 100%;
  }
  .text-justify {
    width: 100%;
    padding: 5%;
    border-radius: 50px;
    height: 10%;
    margin: auto;
    text-align: justify;
    font-family: bitter, serif;
  }
  .div5 {
    height: 350px;
  }
  .button1 {
    width: 40%;
    background-color: #FFFFFF;
    border-radius: 20px;
    color: #9CD6C2;
    font-family: 'Bitter', serif;
    font-weight: bold;
    font-size: 23px;
    margin-left: 5%;
    margin-top: 6%;
    padding: 1%;
    border: none;
    height: 30%;
    display: inline-block;
  }
  .backgroundimage {
    width: 100%;
  }
  .grid {
    width: 95%;
    height: 200px;
    display: grid;
    grid-gap: 18px;
    grid-template-columns: repeat(3, 1fr);
    padding: 5%;
    padding-bottom: 90%;
    margin: auto;
  }
  .box {
    padding: 4px;
    background-color: #9BD6C2;
    font-family: 'Bitter', serif;
    font-size: 22px;
    text-align: center;
    display: block;
    padding-top: 3%;
  }
 .carousel-inner .carousel-item.active .d-block.mx-auto {
  width: 300px;
  height: 800px;
	 padding-top: 90%;
}
  .helpline {
    width: 100%;
    height: 20%;
  }
  .talktous {
    width: 90%;
    height: 50%;
    margin: auto;
    padding: 2%;
    margin-left: 5%;
  }
  .header2 {
    width: 100%;
    margin-left: 0px;
    font-size: 25px;
  }
  .div2 img {
    width: 75%;
    height: 25%;
    margin-left: 9%;
  }
  .head {
    width: 25%;
  }
}
